.container {
  width: 100%;
  background: #ffffff;
  color: rgba(0,0,0,0.7);
  font-size: 1.6rem;

  h2 {
    font-weight: normal;
  }


  html {
    background: #C7C7C7;
  }
}

.content {

  h2 {
    font-family: Roboto, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 3.4rem;
    line-height: 4.6rem;
    margin: 2rem 0;
    color: #000000;
  }

  span {
    display: block;
    font-size: 1.6rem;
    line-height: 3rem;
    color: rgba(0,0,0,0.7);
  }

  li {
    span {
      font-size: 1.6rem;
      line-height: 3rem;
    }

    list-style-type: disc;
    font-size: 2.5rem;
    color: red;
  }

  ul {
    padding-left: 2.5rem;

  }
}
