.container {
  height: 95vh;
  width: 100%;
  background: no-repeat center;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;

  &:before {
    content: '';
    position: absolute;
    width: 100%;
    height: 95vh;
    background: rgba(0, 0, 0, 0.68);
    z-index: 2;
  }
}

.wrapper {
  position: relative;
  z-index: 3;
  display: flex;
  width: 100%;
  height: 100vh;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.title {
  font-size: 4.8rem;
  line-height: 7.5rem;
  color: #fff;
  font-weight: 300;
}

.button {
  background: #ff6204;
  border: 1px solid #FFFFFF;
  color: #fff;
  font-size: 2.4rem;
  line-height: 2.8rem;
  font-weight: 300;
  border-radius: 3.2rem;
  padding: 2rem 6rem;
  margin-top: 3.6rem;
  transition: all 200ms ease-in;

  &:hover {
    background-color:#fC1515;
  }
}

.phone {
  font-weight: 400;
  font-size: 6.4rem;
  line-height: 2.8rem;
  color: white;
}

.socials {
  position: absolute;
  left: 0;
  bottom: 12rem;
  height: 3rem;
  width: 12rem;
  display: flex;
  justify-content: space-between;
  a {
    width: 3rem;
    height: 3rem;
    background-size: contain;
    background-repeat: no-repeat;
    transition: all ease-in 200ms;

    &:hover {
      opacity: 0.5;
    }
  }
  .viber {
    background-image: url("../../static/viber.png");
  }
  .wa {
    background-image: url("../../static/wa.png");
  }
  .vk {
    background-image: url("../../static/vk.png");
  }
}


