.container {
  width: 100%;
  background: #eeeeee;


  h2 {
    font-size: 4.8rem;
    line-height: 5.6rem;
    margin: 3.6rem 0;
    font-weight: 400;
    color: #000000;
  }

  span {
    display: block;
    font-weight: 300;
    font-size: 2rem;
    line-height: 4rem;
    /* or 167% */

    color: #000000;
  }

  li {
    span {
      font-size: 2rem;
      line-height: 4rem;
      color: #000000;
    }

    list-style-type: disc;
    font-size: 2.5rem;
    color: red;
  }

  ul {
    padding-left: 2.5rem;

  }

  html {
    background: #C7C7C7;
  }
}
