.container {
  height: 100vh;
  width: 100%;
  background: no-repeat center;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;

  &:before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100vh;
    background: rgba(0, 0, 0, 0.68);
    z-index: 2;
  }
}

.wrapper {
  position: relative;
  z-index: 3;
  display: flex;
  width: 100%;
  height: 100vh;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.title {
  font-family: Roboto, sans-serif;
  font-size: 3rem;
  color: #fff;
  font-style: normal;
  font-weight: normal;
  text-align: center;
}

.button {
  background: #DC0505;
  border: 1px solid #FFFFFF;
  box-sizing: border-box;
  color: #fff;
  width: 26.8rem;
  height: 5.5rem;
  font-size: 2.4rem;
  line-height: 2.8rem;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 3.6rem;
}

.phone {
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 2.4rem;
  line-height: 2.8rem;
  color: #F7B100;
  position: absolute;
  top: 3rem;
}

.socials {
  position: absolute;
  bottom: 12rem;
  height: 3rem;
  width: 12rem;
  display: flex;
  justify-content: space-between;
  a {
    width: 3rem;
    height: 3rem;
    background-size: contain;
    background-repeat: no-repeat;
  }
  .viber {
    background-image: url("../../../static/viber.png");
  }
  .wa {
    background-image: url("../../../static/wa.png");
  }
  .vk {
    background-image: url("../../../static/vk.png");
  }
}


